body{
	background-image:url(../images/背景.jpg)	
}

h1{
	color:#d7c641;
	background-color:#a44b21;
	text-align:center;
}

h2{
	color:#d7c641;
	background-color:#a44b21;
}

h3{
	color:#d7c641;
	background-color:#a44b21;
}

p{
	color:#d7c641;
	background-color:#a44b21;
}