body{
	background-image:url(../images/風景.jpg)
}

h1{
	color:#9b7d63;
	background-color:#abdfff;
	text-align:center;
}

h2{
	color:#9b7d63;
	background-color:#abdfff;
}

h3{
	color:#9b7d63;
	background-color:#d5ffea;
}

p{
	color:#9b7d63;
	background-color:#d5ffea;
}